.flex1 {
display: flex;
max-width: 50%;
margin-left: auto;
margin-right: auto;

background-color: blue;
color: white ;
font-size: 30;
border-radius: 15px;

border: solid black;
 
}

.navbar {
        text-align: center; 
        border-bottom: 1px solid #ccc;
        background-color: grey;
        border-radius: 15px; 
      }
      
      .navbar li {
        display: inline-block; 
        margin-right: 20px; 
        border-radius: 15px;
      }
      
      .navbar li:last-child {
        margin-right: 0; 
        border-radius: 15px;
      }
      
      .navbar a {
        text-decoration: none; 
        color: white; 
        font-weight: bold; 
        border-radius: 15px;
      }
      
      .navbar a:hover {
        color: #007bff; 
      }

.h1 {
background-color: grey;
color: bold black;
align-content: center;
text-align: center;
border: solid white;
font-style: Bluefonte;
border-radius: 15px;


}
.fullbody {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: darkblue;
}

input[type=text] {
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 0 0;
  text-wrap: wrap;
  vertical-align: top;
  border-radius: 15px;
  
}

::placeholder {
  text-wrap: wrap;
  vertical-align: top;
  text-align: top;

}
.sub1 {
  color: white; 
}

.pass {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 400px;
  vertical-align: 500px;
  align-items: flex-end;
}
#id {
  border-radius: 15px;
}
#summary {
  display: flex;
  height: 100%;
  width: 35%;
}

.feed {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.datecolumns {
  display: flex;
  text-wrap: wrap;
  float: inline-start;
  flex-direction: column;
  background-color: white;
  width: 10%;
  height: 100%;
  justify-content: center;
  color: black;
  border-left: solid black;
  

}
.datecolumn {
  font-style: helvetica;
  border-right: solid black; 

}

.addresscolumns {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  background-color: white;
  width: 30%;
  height: 100%;
  justify-content: center;
  color: black;

}
.addresscolumn {
  border-right: solid black;

}

.summarycolumns {
  display: flex;
  float: inline-end;
  flex-direction: column;
  text-wrap: wrap;
  background-color: white;
  width: 60%;
  height: 100%;
  justify-content: center;
  color: black;
  
}

.onloads {
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: black;
}

.error {
  color: red;
  display: none;
}

.submit {
  border-radius: 15px;
}

body {
  font-family: Arial, sans-serif;
}
.container {
  width: 300px;
  padding: 16px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: orangered;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  border-radius: 15px;
  
}
button:hover {
  opacity: 0.8;
}

.register {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
}

.h3{
  font-family: verdana;
  color: white;
  background-color: gray;
  border-radius: 15px;
  font-size: 35px;
  border: 3px solid white;
}

.p3{
  font-family: verdana;
  color: white;
  background-color: gray;
  border-radius: 15px;
  font-size: 25px;
  margin: auto;
  border: 3px solid white;
}